:root {
    --primary-color: #CDA274;
    --secondary-color: #F4F0EC;
    --heading-color: #292F36;
    --text-color:#4D5053;
    --primary-bg-color:#FFFFFf;
    --secondary-bg-color:#F6F6F6;
}
