@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #CDA274;
    --secondary-color: #F4F0EC;
    --heading-color: #292F36;
    --text-color:#4D5053;
    --primary-bg-color:#FFFFFF;
    --button-text-color:#FFFFFF;
    --button-color: #292F36;
    --secondary-bg-color:#F6F6F6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    color: var(--heading-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
}


body {
    width: 100%;
    min-height: 100%;
    background: var(--primary-bg-color);
    color: var(--text-color);
    font-family: "Jost";
    
    background-image:
        linear-gradient(to right, #D8D8D8 1px, transparent 1px),
        linear-gradient(to right, #D8D8D8 1px, transparent 1px),
        linear-gradient(to left, #D8D8D8 1px, transparent 1px),
        linear-gradient(to left, #D8D8D8 1px, transparent 1px);
    background-position:
        18.75% 0,
        39.58%  0,
        60.41% 0,
        81.3% 0;
    background-size:
        1% 100%,
        1% 100%,
        1% 100%,
        1% 100%;
    background-repeat: no-repeat;
}


h1, h2, h3, h4, h5, h6, .h7-style, .logo {
    font-family: "DM Serif Display";
    text-transform: capitalize;
    color: var(--heading-color);
}
h1 { font-size: 65px; }
h2 { font-size: 50px; }
h3 { font-size: 35px; }
h4 { font-size: 25px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }
.h7-style { font-size: 18px;}
.text-small { font-size: 18px;}
.text-medium { font-size: 20px;}
.text-large { font-size: 22px;}

section {
    max-width: 1220px;
    padding: 10px;
    margin: 0 auto;
}
.header-wrap {
    margin: 44px 0 57px;
}
.header-wrap, logo a, .header-nav ul, .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 177px;
    font-size: 40px;
    padding: 8px 0;
}

.logo a svg {
    width: 34px;
    height: 34px;
}

.header-nav ul {
    width: 32.55vw;
    font-size: 20px;
}

.search {
    width: 21px;
    height: 21px;
}
.hero-section {
    width: 100%;
    min-height: 758px;
    margin: 0 auto;
    background: url(../img/interior/covers/hero_cover_main.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3.7vw ;
    display: flex;
    align-items: center;
}
.hero-wrap {
    width: 434px;
    margin-left: 52px;
    display: flex;
    flex-direction: column;
}
.hero-wrap p {
    margin: 18px 0 21px;
}
.button {
    width: 220px;
    height: 75px;
    border-radius: 20px;
    color: var(--button-text-color);
    background: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;

}
.button div {
    width: 123px;
    font-weight: 600;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}
.arrow {
    width: 15px;
    height: 13px;
}


